
*{
    overflow: hidden;
    color: white;
}
.box{
    height: 100vh;
}
.game
{
    padding-top: 10px;
    padding: 15px;
  background-color: rgb(36, 13, 58);
  box-shadow: 10px 10px 10px rgb(71, 70, 70);
  height: 90vh;
}

.col-xs-4{
    padding:0;
}
h1 h2{
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0px;
}
  
app-square {
    border: 1px gray solid;
    height: 20vh;
}